{% extends 'base.html' %}
{% block title %}Forget Your Password?{% endblock title %}

{% block content %}
<h1>Forget Your Password</h1>
<P>Enter your email address below,and we'll email instructions for setting a new one </P>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class='btn btn-success' type="submit" value="send me instruction">
</form>
{% endblock content %}