{% extends 'base.html' %}
{% block title %}Enter New Password{% endblock title %}

{% block content %}
<h1>Set a New Password.</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class='btn btn-success' type="submit" value="Change my Password">
</form>
{% endblock content %}